/* Reset some default styles */
body, h1, h2, h3, p, ul, ol {
  font-family: 'Times New Roman', sans-serif;
  line-height: 1.5;
}

ul, ol {
  margin-left: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1  

.fontbig {font-size: 70px;}

h2 {color: blueviolet;
  background-color: 0;
  }

.fontsmall   {font-size: medium;}

h3 {color: yellow;
  background-color: blueviolet;}

h4 {color: yellow;
  background-color: blueviolet;
  }

body {background-color: yellow;}

header {
text-align: center; 
  color: yellow; 
  background-color: blueviolet; 
  padding: 2em; 
  margin: 15px; 
}

.container {
  display: flex;
  flex-direction: column;
  background-color: Blueviolet;
}

.container div {
  background-color: Yellow;
  margin: 1em;
  padding: 1em;
}

img {
width: 54%;
aspect-ratio: 100%/100%;
}

container {
display: flex;
justify-content: center;
}
 
footer {
  text-align: right;
}